### Importación de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [42]:
import pandas as pd
tiendasT = {
 'tiendas': ['tienda', 'tienda1','tienda2', 'tienda3', 'tienda4'],
  'producto': ['Asistente virtual', 'Mesa de comedor', 'Juego de mesa', 'Microondas', 'Silla de oficina'],
  'precio': [164300, 192300, 209600, 757500, 335200]
}
df = pd.DataFrame(tiendasT)
precio = df.groupby('tiendas')['precio'].sum()
print(precio)

tiendas
tienda     164300
tienda1    192300
tienda2    209600
tienda3    757500
tienda4    335200
Name: precio, dtype: int64

# 2. Ventas por categoría

In [33]:
import pandas as pd
canttotalv = {
    'tiendas': ['tienda', 'tienda1','tienda2', 'tienda3', 'tienda4'],
    'categoria': ['Electrónicos', 'Muebles', 'Juguetes', 'Electrodomésticos', 'Muebles'],
    'producto': ['Asistente virtual', 'Mesa de comedor', 'Juego de mesa', 'Microondas', 'Silla de oficina']
}

new_var = pd.DataFrame(canttotalv)
print(new_var)
proporcat = df.groupby(['tiendas', 'categoria'])
print(proporcat)

   tiendas          categoria           producto
0   tienda       Electrónicos  Asistente virtual
1  tienda1            Muebles    Mesa de comedor
2  tienda2           Juguetes      Juego de mesa
3  tienda3  Electrodomésticos         Microondas
4  tienda4            Muebles   Silla de oficina

NameError: name 'df' is not defined

# 3. Calificación promedio de la tienda

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

caltotalTienda = {
    'tiendas': ['tienda', 'tienda1','tienda2', 'tienda3', 'tienda4'],
    'calificacion': [4, 1, 1, 4, 5]
}
df = pd.DataFrame(caltotalTienda)
print(df)
calificacion = df.groupby(['tiendas'])
print(calificacion)

plt.figure(figsize=(7, 5))
plt.bar(calificacion['tiendas'], calificacion['Costo_envio_promedio'], color='mediumseagreen')
plt.title('Costo de envío promedio por tienda')
plt.xlabel('Tienda')
plt.ylabel('Costo promedio ($)')
plt.tight_layout()
plt.show()

   tiendas  calificacion
0   tienda             4
1  tienda1             1
2  tienda2             1
3  tienda3             4
4  tienda4             5
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x78e5605e7750>

KeyError: 'Column not found: Costo_envio_promedio'

# 4. Productos más y menos vendidos

In [53]:
import pandas as pd
productomaxymin = {
    'tiendas': ['tienda', 'tienda1','tienda2', 'tienda3', 'tienda4'],
    'producto': ['Asistente virtual', 'Mesa de comedor', 'Juego de mesa', 'Microondas', 'Silla de oficina']
}
df = pd.DataFrame(productomaxymin)


ventasT = df.groupby(['tiendas', 'producto'])
maxvend = ventasT.size()
print(maxvend)
minvend = ventasT.size()
print(minvend)

tiendas  producto
tienda   Asistente virtual    1
tienda1  Mesa de comedor      1
tienda2  Juego de mesa        1
tienda3  Microondas           1
tienda4  Silla de oficina     1
dtype: int64
tiendas  producto
tienda   Asistente virtual    1
tienda1  Mesa de comedor      1
tienda2  Juego de mesa        1
tienda3  Microondas           1
tienda4  Silla de oficina     1
dtype: int64

# 5. Envío promedio por tienda

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
costoenvio = {
    'tiendas': ['tienda', 'tienda1','tienda2', 'tienda3', 'tienda4'],
    'envio': [6900, 8400, 15900, 41000, 20200]
}
df = pd.DataFrame(costoenvio)
print(df)
envio = df.groupby(['tiendas'])
print(envio)

   tiendas  envio
0   tienda   6900
1  tienda1   8400
2  tienda2  15900
3  tienda3  41000
4  tienda4  20200
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x78e5605803d0>